# Ignore rollup config
rollup.config.js

# Ignore webpack config
webpack.config.js

# Ignore node modules
node_modules

# Ignore builded files
/resources/main/client/*
/resources/main/server/*

# Ignore .d.ts files
*.d.ts

# Ignore mocks
__mocks__

# Ignore node scripts
/scripts