/cache
/crashdumps
/data
/modules
node_modules
packages/view/.storybook/build
resources/core/client
resources/core/server
altv-server.exe
libnode.dll
server.cfg
server.log
.eslintcache
lerna-debug.log
yarn-error.log
update.json